@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0; margin: 0;
}

.scrollBarSettings::-webkit-scrollbar {
  display: none;
}

#iconNav{
  transition-duration: 0.7s;
}


body {
font-family: "Inter";
-ms-user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
user-select: none;
}
.card:hover .userCard{
  bottom: 1pc; transition-duration: 0.8s; transform-origin: left;
}
#products{
    grid-template-columns: repeat(4, 1fr);
  }
.cardHover{
  display: none; transition-delay: 0.8s;
}
.card:hover .cardHover{
  display: block; transition-duration: 2s; box-shadow: 1px 1px 5px 1px #b0afaf;
}
#iconItem{
  color: gray;
}
#iconItem:hover{
  color: black;
}
#iconItem.selected {
  color: black; border-bottom: 3px solid black;
}
.hide{
  display: none;
}




@media(max-width: 1236px){
  #products{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 950px){
  #products{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 560px){
  #products{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 768px){
 .footer{
 transition: transform 0.3s ease-out;
  transform: translateY(100%);
}
.footer.show{
 transform: translateY(0);
}
}
