@tailwind base;
@tailwind components;
@tailwind utilities;

body {
font-family: "Inter";
-ms-user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
user-select: none;
}
